{% extends 'base.html' %}

{% block content %}

<div class="top">

	<div class="columns">
		<div class="column is-full featured_wrapper p-0">
			<img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/banner.jpg" class="featured">
			<div class="title_wrapper">
        <!-- 검색 바 -->
        <div class="container my-5">
          <form action="{% url 'home:search' %}" method='POST' class="d-flex" role="search">
            {% csrf_token %}
            <input class="form-control p-4 bg-dark text-light fs-3" name='search' type="search" placeholder="Search" aria-label="Search" style="width: 80%; border: none; border-top-right-radius: 0; border-bottom-right-radius: 0;">
            <button class="btn btn-danger fs-2 fw-bold text-spacing" type="submit" style="width: 20%; border-top-left-radius: 0; border-bottom-left-radius: 0;">Search</button>
          </form>
        </div>
			</div>
		</div>
	</div>
</div>

<div class="container">
  <h1 class="text-light fw-bold mt-4 mb-3">On YouTube</h1>
	<div class="container border-top">
    <div class="row row-cols-2 row-cols-xl-3 mt-4">
      {% for video in video_list %}
      <div class="m-3" style="width: 38rem; height: 27rem; background-color:gray;">
        <div class="movie-card" style="width: 100%; height: 100%;">
          <iframe src="{{ video.video }}" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <h1 class="text-light fw-bold mt-4 mb-3">Related movies ({{movies|length}})</h1>
	<div class="container border-top">
    <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 mt-4">
      {% for movie in movies %}
      <div class=" mb-3">
        <a href="{% url 'movies:movie_detail' movie.pk %}">
          <div class="movie-card">
            <img src="{{ movie.poster_path }}" alt="포스터 이미지" class="rounded">
            <div class="movie-info">
              <span class="text-danger text-center fs-2 fw-bold">{{ movie.title }}</span>
              <hr style="border-top: 2px solid #f8f9fa; width: 100%;">
              <span class="movie-overview d-inline-block text-secondary fw-light small">{{ movie.overview|truncatechars:150 }}</span>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <h1 class="text-light fw-bold mt-4 mb-3">Community ({{articles|length}})</h1>
	<div class="container border-top">
    <div class="list-group rounded-0 bg-dark mt-4">
      {% for article in articles %}
      <a href="{% url 'articles:article_detail' article.pk %}" class="list-group-item list-group-item-action bg-dark">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1 text-light">
            {{ article.title }}
            {% if article.comment_set.count > 0 %}
            <span class="small text-danger fw-bold py-2">
              {{ article.comment_set.count }}
            </span>
            {% endif %}
          </h6>
          <span class="badge bg-danger rounded-pill">{{ article.like_users.count }}</span>
        </div>
        <small class="text-secondary">{{ article.created_at|date:'y-m-d H:i' }}</small>
      </a>
      {% endfor %}
    </div>
  </div>

  <h1 class="text-light fw-bold mt-4 mb-3">User ( {{ users|length }} )</h1>
	<div class="container border-top">
        <div class="container-fluid mt-4">
            <div class="container">
                <div class="row">
                    {% for user in users %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="our-team">
                            <div class="picture">
                                <a href="{% url 'accounts:profile' user.username %}">
                                    <img class="img-fluid" src="https://user-images.githubusercontent.com/89068148/170164738-b8385f4e-1c58-4d2e-af03-7075ee19ea3f.jpg">
                                </a>
                            </div>
                            <div class="team-content">
                                <h3 class="name text-black fw-bold mt-4 mb-3">{{ user.username }}</h3>
                                <h4 class="title">{{ user.email }}</h4>
                            </div>
                            <ul class="social">
                                <li><a href="https://www.facebook.com/" class="fa fa-facebook" aria-hidden="true"></a></li>
                                <li><a href="https://twitter.com/?lang=ko" class="fa fa-twitter" aria-hidden="true"></a></li>
                                <li><a href="https://google.com/" class="fa fa-google-plus" aria-hidden="true"></a></li>
                                <li><a href="https://www.youtube.com/" class="fa-brands fa-youtube" aria-hidden="true"></a></li>
                            </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
              </div>


        </div>

	</div>
</div>


<style>
    body,
  html {
      background: #000000;
      padding: 0;
      margin: 0;
      padding-bottom: 6rem;
      width: 100%;
  }
  .container {
      padding-bottom: 3rem;
  }
  img {
      -webkit-box-reflect: below 5px
          linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }
  .container img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
  }
  .last {
      margin-top: 6.5rem;
  }
  .featured_wrapper {
      position: relative;
  }
  .featured_wrapper img {
      width: 100%;
      width: 100%;
      height: 350px;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: top;
      object-position: top;
  }
  .title_wrapper {
      position: absolute;
      width: 100%;
      left: 2rem;
      bottom: 2rem;
      padding: 20px 40px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  .title_wrapper h1 {
      width: 70%;
  }
  .button {
      background: #f40612 !important;
      color: #fff !important;
      font-size: 18px;
      padding: 0.5rem 3rem;
      outline: none;
      border: 0 !important;
  }
  @media (max-width: 768px) {
      .title_wrapper {
          text-align: center;
          left: 0;
      }
      .title_wrapper h1 {
          font-size: 32px !important;
          width: 100%;
      }
      .container {
          padding: 20px;
      }
  }
  @media (max-width: 480px) {
      .column.is-one-quarter img {
          width: 100%;
          margin-bottom: 7rem;
      }
  }
  
  .movie-card {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
    .movie-card img {
      width: 100%;
      height: 100%;
      transition: all 0.25s linear;
    }
    .movie-card:hover img {
      opacity: 0.07;
      transform: scale(1.25);
      border-radius: 0.375rem!important;
    }
    .movie-info {
      width: 80%;
      opacity: 0;
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      top: 80%;
      left: 50%;
      transition: all 600ms ease;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .movie-card:hover .movie-info {
      opacity: 1;
      top: 50%;
    }
  
  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: red;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
</style>

{% endblock content %}