{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h2 class="my-3 border-bottom pb-2 text-secondary fw-bold">Password Change</h2>
  <form action="" method="post" class="post-form my-3">
    {% csrf_token %}
    <!-- 오류 표시 -->
    {% with form=form %}
      {% include 'errors.html' %}
    {% endwith %}
    <!-- 오류 표시 -->
    <div class="form-group my-3">
      <label for="old_password" class="form-label text-secondary">기존 비밀번호</label>
      <input type="password" name="old_password" id="old_password" class="form-control bg-secondary text-light">
    </div>
    <div class="form-group my-3">
      <label for="new_password1" class="form-label text-secondary">새 비밀번호</label>
      <input type="password" name="new_password1" id="new_password1" class="form-control bg-secondary text-light">
    </div>
    <div class="form-group my-3">
      <label for="new_password2" class="form-label text-secondary">새 비밀번호 확인</label>
      <input type="password" name="new_password2" id="new_password2" class="form-control bg-secondary text-light">
    </div>

    <button type="submit" class="btn btn-danger fw-bold">Change</button>
    <a href="{% url 'home:home' %}" class="btn btn-secondary ms-auto fw-bold" style="width: 68.25px;">Back</a>
  </form>
</div>
{% endblock content %}
















<br><br><br><br>
<div class="bg-white">

    <form action="{% url 'accounts:change_password' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
</div>