{% extends 'base.html' %}

{% block content %}
<div class="container-fluid px-4">
  <h1 class="text-light">Movies</h1>
  <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">

    {% for movie in movies %}
    <div class="my-5">
      <a href="{% url 'movies:movie_detail' movie.pk %}">
        <div class="movie-card">
          <img src="{{ movie.poster_path }}" alt="포스터 이미지" class="rounded">
          <div class="movie-info">
            <span class="text-danger text-center fs-2 fw-bold">{{ movie.title }}</span>
            <hr style="border-top: 2px solid #f8f9fa; width: 100%;">
            <span class="movie-overview d-inline-block text-secondary fw-light small">{{ movie.overview|truncatechars:150 }}</span>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}



  <!-- 페이지네이션 -->
    <div class="container-fluid">
      <ul class="pagination pagination-lg justify-content-center py-5 pagination-custom">
        <!-- 맨처음 -->
        {% if 1 == movies.number %}
        <li class="page-item disabled">
          <a href="#" class="page-link" tabindex="-1" aria-disabled="true"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {% else %}
        <li class="page-item">
          <a href="?page=1" class="page-link"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {% endif %}
        <!-- 이전 페이지 -->
        {% if movies.has_previous %}
        <li class="page-item">
          <a href="?page={{ movies.previous_page_number }}" class="page-link">prev</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link" tabindex="-1" aria-disabled="true">prev</a>
        </li>
        {% endif %}
        <!-- 페이지 리스트 -->
        {% for page_number in movies.paginator.page_range %}
          {% if page_number >= movies.number|add:-3 and page_number <= movies.number|add:3 %}
            {% if page_number == movies.number %}
            <li class="page-item active" aria-current="page">
              <a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
              <a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
            </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if movies.has_next %}
        <li class="page-item">
          <a href="?page={{ movies.next_page_numger }}" class="page-link">next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link" tabindex="-1" aria-disabled="true">next</a>
        </li>
        {% endif %}
        <!-- 마지막 -->
        {% if movies.paginator.num_pages != movies.number %}
        <li class="page-item">
          <a href="?page={{ movies.paginator.num_pages }}" class="page-link"><span aria-hidden="true">&raquo;</span></a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link" tabindex="-1" aria-disabled="true"><span aria-hidden="true">&raquo;</span></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>



<style>
  .movie-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .movie-card img {
    width: 100%;
    height: 100%;
    transition: all 0.25s linear;
  }
  .movie-card:hover img {
    opacity: 0.07;
    transform: scale(1.25);
    border-radius: 0.375rem!important;
  }
  .movie-info {
    width: 80%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 80%;
    left: 50%;
    transition: all 600ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .movie-card:hover .movie-info {
    opacity: 1;
    top: 50%;
  }

  .pagination-custom > li > a {
    background-color: #212529;
    color: #dc3545;
    border: 1px solid #212529;
  }
  .pagination-custom > li {
    --bs-pagination-hover-color: #212529!important;
    --bs-pagination-hover-bg: #dc3545!important;
    --bs-pagination-hover-border-color: #dc3545!important;
    --bs-pagination-focus-color: #212529!important;
    --bs-pagination-focus-bg: #dc3545!important;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25)!important;
    --bs-pagination-active-color: #212529!important;
    --bs-pagination-active-bg: #dc3545!important;
    --bs-pagination-active-border-color: red!important;
    --bs-pagination-disabled-color: #000!important;
    --bs-pagination-disabled-bg: #212529!important;
    --bs-pagination-disabled-border-color: #212529!important;
  }

</style>
{% endblock %}