{% extends 'base.html' %}

{% block content %}
<div class="detail-wrap container-fluid" style="padding-bottom: 150vh;">
  <!-- 정보 -->
  <div class="movie-info container-xxl mb-4">
    <!-- 제목 -->
    <div class="border-bottom p-3">
      <h1 class="text-light fw-bold mb-0">
        {{ movie.title }}
      </h1>
    </div>
    <!-- 장르 -->
    <div class="px-3 pt-2 mb-4">
      <div class="">
        <span class="text-secondary text-decoration-none fw-bold">
          {% for genre in genres %}{{ genre }}{% endfor %}
        </span>
      </div>
    </div>
    <!-- 줄거리, 버튼, 포스터 -->
    <div class="container-fluid d-flex justify-content-between mb-5">
      <div class="container-fluid ps-0 pe-5 me-5">
        <div class="mb-5">
          <span class="text-light">{{ movie.overview }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <button class="btn btn-danger me-2" style="width: 6rem;"><i class="fa-solid fa-star"></i> {{ movie.popularity }}</button>
            <button class="btn btn-secondary me-2" style="width: 6rem;"><a href="#create_review" style="text-decoration:none; color:white;">Review</a></button>
            <button class="btn btn-outline-light" style="width: 6rem;"><i class="fa-solid fa-basket-shopping"></i></button>
          </div>
          <a href="{% url 'movies:movies' %}" class="btn btn-dark" style="width: 6rem;">Back</a>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <img src="{{ movie.poster_path }}" alt="" style="height: 50vh; border-radius: 2%;">
      </div>
    </div>
    
    <h3 class="text-light fw-bold mb-3">Trailer</h3>
    <div class="row row-cols-4 mb-5">
      {% for video in video_list %}
      <div class="col mb-5" style="width: 36vw; height: 50vh;">
        <iframe  frameborder="0" height="100%" width="100%"
        src="{{ video.video }}" 
        allowfullscreen>
        </iframe>
      </div>
    {% endfor %}
    </div>
    

    <h3 class="text-light fw-bold mb-3">Screen shot</h3>
    <div class="row row-cols-4 mb-5">
      {% for img_movie in img_movies %}
      <div class="col mb-5" style="width: 16vw; height: 30vh;">
        <img src="{{ img_movie.img }}" alt="포스터 이미지" class="rounded" style="width: 100%; height: 100%; object-fit: cover;">
      </div>
      {% endfor %}
    </div>


    <h3 class="text-light fw-bold mb-3">Actors</h3>
    <div class="row row-cols-5 mb-5">
      {% for img_actor in img_actors %}
      <div class="col mb-2" style="width: 13vw; height: 25vh;">
        <img src="{{ img_actor.img }}" alt="포스터 이미지" class="rounded" style="width: 100%; height: 100%; object-fit: cover;">
        <h5 style="color:white; text-align:center;">{{img_actor.name}}</h5>
      </div>
      {% endfor %}
    </div>
  </div>

  <hr>

  <div class="container-xxl" style="background-color: #000;">
    <div class="card" style="border: none;">
      <div class="card-body" style="background-color: #000;">
        <!-- 리뷰 목록 -->
        <a name="create_review">
        {% if movie.review_set.count > 0 %}
        <div class="container-fluid">
          {% for review in movie.review_set.all %}
          <div class="comment py-2">
            <!-- 작성자, 작성일, 수정일, 수정 버튼, 삭제 버튼 -->
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <!-- 작성자 -->
                <a href="{% url 'accounts:profile' review.user.username %}" class="text-secondary text-decoration-none fw-bold">{{ review.user.username }}</a>
                <!-- 작성일 -->
                <span class="small text-secondary">
                  {{ review.created_at}}
                </span>
                <!-- 수정일 -->
                {% if review.updated_at %}
                <span class="small text-secondary">
                   | {{ review.updated_at}}
                </span>
                {% endif %}
              </div>
              <!-- 수정, 삭제 버튼 -->
              <div class="d-flex justify-content-end align-items-center">
                {% if request.user == review.user %}
                <a href="{% url 'movies:review_update' movie.pk review.pk %}" class="btn btn-sm  btn-outline-secondary me-2">Update</a>
                <!-- 삭제 -->
                <!-- Button trigger modal -->
                <button type="submit" class="btn btn-sm  btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#commentDeleteButton">
                  Delete
                </button>
                <!-- Modal -->
                <div class="modal fade" id="commentDeleteButton" tabindex="-1" aria-labelledby="commentDeleteButtonLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content bg-dark">
                      <div class="modal-header" style="border: none;">
                        <h5 class="modal-title text-light" id="commentDeleteButtonLabel">Delete</h5>
                        <button type="button" class="btn-close bg-secondary" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-light">
                        Are you sure you want to delete it?
                      </div>
                      <div class="modal-footer" style="border: none;">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action="{% url 'movies:review_delete' movie.pk review.pk %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                {% comment %} <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-dark text-secondary">Delete</button>
                </form> {% endcomment %}
                {% endif %}
              </div>
            </div>
            <!-- 평점 -->
            <div class="text-danger fw-bold small">
              {% if review.rating == 1 %}
              <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
              {% elif review.rating == 2 %}
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
              {% elif review.rating == 3 %}
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
              {% elif review.rating == 4 %}
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
              {% else %}
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              {% endif %}
            </div>
            <!-- 내용 -->
            <span class="text-light small">
              {{ review.content|linebreaksbr }}
            </span>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <!-- 댓글 작성 -->
      </div>
    </div>
  </div>
  <div class="container-xxl py-3" style="background-color: #000;">
    <div class="container-fluid">
      <form action="{% url 'movies:review_create' movie.pk %}" method="post" class="comment-create-form post-form my-3">
        {% csrf_token %}
        <textarea name="content" id="content" cols="5" rows="3" class="form-control my-3 bg-dark text-light" {% if not request.user.is_authenticated %}disabled{% endif %}>{{ review_form.content.value|default_if_none:'' }}</textarea>
        <select class="form-select bg-dark text-light mb-3" name="rating">
          <option selected>별점을 매기세요</option>
          <option value="1">★☆☆☆☆</option>
          <option value="2">★★☆☆☆</option>
          <option value="3">★★★☆☆</option>
          <option value="4">★★★★☆</option>
          <option value="5">★★★★★</option>
        </select>
        <button type="submit" class="btn btn-danger fw-bold" style="width: 6rem;">Create</button>
      </form>
    </div>
  </div>
</div>


<a class="Follow" href="{% url 'movies:for_you' movie.pk %}"></a>


<style>
  .detail-wrap {
    background-image: linear-gradient(rgb(20, 20, 20), transparent, rgb(20, 20, 20)), url("{{ movie.poster_path }}");
    background-image: linear-gradient(rgba(0, 0, 0, 0.97), rgba(0, 0, 0, 0.90)), url("{{ movie.poster_path }}");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .Follow { background:url("https://user-images.githubusercontent.com/89068148/169769128-9e6d8773-ff93-4e66-8da5-4b953a6a3a25.jpeg")no-repeat center / contain;
  width: 80px;
  height: 80px;
  bottom: 9px;
  right: 20px;
  display:block;
  position:fixed;
  border-radius:50%;
  z-index:999;
  animation:  rotation 10s infinite linear;
  }

  @-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
  }
</style>
{% endblock %}