{% extends 'base.html' %}

{% block content %}

<div class="wrapper">
	<div class="main_card">
		<div class="card_left">
			<div class="card_datails">
				<h1>{{ movie.title }}</h1>
				<div class="card_cat">
					<p class="PG" style="color:red;">
            {{ movie.popularity }} p
          </p>
					<p class="year">{{ movie.release_date }}</p>
					<p class="genre">
            {% for genre in genres %}
              {{ genre }}
            {% endfor %}
          </p>
					<p class="time">2h 28m</p>
				</div>
        <div style="height:180px; overflow: hidden;">
            {{ movie.overview }}
        </div>
			<div class="social-btn">
        <button class='post_btn'>
          <a href="{% url 'articles:articles' %}" style="text-decoration:none; color:white;">
            <i class="fa-solid fa-comments"></i> Community
          </a>
        </button>
				<button class='post_btn'>
					<i class="fas fa-thumbs-up"></i> like it
				</button>
        <button class='post_btn'>
					<i class="fa-solid fa-basket-shopping"></i> get it
				</button>
			</div>	
			</div>
		</div>
		<div  class="card_right">
			<img src="{{ movie.poster_path }}"style="max-width:100%; max-height:100%;" alt="포스터">
			<div class="play_btn">
					<i class="fas fa-play-circle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>
			</div>
	  </div>
  </div>

  <dib class="main_card">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ img_movies_first.thumbnail }}" class="d-block w-100" alt="...">
        </div>
        {% for img in img_movies %}
          <div class="carousel-item">
            <img src="{{ img.thumbnail }}" class="d-block w-100" alt="...">
          </div>
        {% endfor %}
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="main_card">
    <div>
      <p class="PG" style="color:red;">{{ movie.director }} (감독)</p>
      <img src="{{ img_director }}" alt="이미지">
    </div>
    {% for actor in img_actors %}
      <div>
        <p class="PG" style="color:red;">{{ actor.name }}</p>
        <img src="{{ actor.img }}" alt="배우 이미지">
      </div>
    {% endfor %}
  </div>

  <div class="main_card">
    {{ review_form }}
    {{ review_set }}
  </div>

</div>

{% comment %} 오른쪽 상세 영상 조회 {% endcomment %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel"></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    {% for video in video_list %}
      <div>
        <iframe  frameborder="0" height="100%" width="100%"
        src="{{ video.video }}" 
        allowfullscreen>
        </iframe>
        {{ video.title }}<br>
        {{ video.date }}
        <hr>
      </div>
    {% endfor %}
  </div>
</div>






{% comment %} 오른쪽 아래 추천페이지 이동 {% endcomment %}
<a class="Follow" href="{% url 'movies:for_you' movie.pk %}"></a>



<style>
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .main_card {
    color: #fff;
    width: 90%;
    height: 30%;
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 95%;
    background: #00C9FF; 
    background: -webkit-linear-gradient(to right, #808080, #404040);
    background: -webkit-gradient(linear, left top, right top, from(#808080), to(#404040));
    background: -webkit-linear-gradient(left, #808080, #404040);
    background: -o-linear-gradient(left, #808080, #404040);
    background: linear-gradient(to right, #808080, #404040); 
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
            box-shadow: 0 0 40px rgba(0,0,0,0.3);
  }
  
  .card_left {
    width: 100%;
  }
  

  .card_datails {
    width: 90%;
    padding: 30px;
    margin-top: -10px;
  }
  .card_datails  h1 {
    font-size: 30px;
    margin-bottom:20px;
  }
  .card_right img {
    width: 100%;
    border-radius: 2px;
  }
  .card_right {
    border-radius: 2px;
  }
  
  .card_cat {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  
  .PG, .year, .genre, .time {
    color: fff;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
  }
  
  .PG {
    background: #ffffff;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.1);
            box-shadow: 0 0 50px rgba(0,0,0,0.1);
    -webkit-transition: 300ms ease-in-out;
  }
  
  .disc {
    font-weight: 100;
    line-height: 27px;
  }
  a {
    color: darkcyan;
    display: block;
    text-decoration: none;
  }
  .social-btn {
    margin-left: 10px;
  }
  .post_btn {
    color: white;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 10px;
    background: #DB3838;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
            box-shadow: 0 0 20px rgba(0,0,0,0.2);
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
  }
  
  button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .play_btn {
    height: 100%;
    margin: -394px auto;
    position: relative;
    text-align: center;
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
  }
  .fa-play-circle {
    color: #DB3838;
    font-size: 50px;
    margin-top: 180px;
    -webkit-animation: bounce 1.0s -0.4s infinite;
            animation: bounce 1.0s -0.4s infinite;
  }
  
  .fa-play-circle:hover {
    color: #DB3838;
    animation: bounce 0.4s infinite;
  }
  @-webkit-keyframes bounce {
    8% {
      transform: scale(0.3);
      -webkit-transform: scale(0.8);
      opacity: 1;
    }
    10% {
      transform: scale(1.8);
      -webkit-transform: scale2);
      opacity: 0;
      }
  }
  
  @keyframes bounce {
    8% {
      transform: scale(0.3);
      -webkit-transform: scale(0.8);
      opacity: 1;
    }
    20% {
      transform: scale(1.8);
      -webkit-transform: scale2);
      opacity: 0;
      }
  }
  
  
  
  
  

  .Follow { background:url("https://user-images.githubusercontent.com/89068148/169769128-9e6d8773-ff93-4e66-8da5-4b953a6a3a25.jpeg")no-repeat center / contain;
    width: 50px;
    height: 50px;
    bottom: 9px;
    right: 20px;
    display:block;
    position:fixed;
    border-radius:50%;
    z-index:999;
    animation:  rotation 10s infinite linear;
    }
  
  @-webkit-keyframes rotation {
      from {
          -webkit-transform: rotate(0deg);
      }
      to {
          -webkit-transform: rotate(359deg);
      }
  }
</style>


{% endblock %}
