{% extends 'base.html' %}

{% block content %}
<div class="container-fluid px-4">
  <h1 class="text-light">Movies</h1>
  <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
  {% for movie in movies %}



    {% comment %} <div class="my-5 poster-box">
      <div class="poster-wrap" style="height: 100%;">
        <a href="{% url 'movies:movie_detail' movie.pk %}">
          <img src="{{ movie.poster_path }}" class="poster-img img-fluid" alt="movie_poster_img" style="height: 100%; width: 100%;">
        </a>
      </div>
      <div class="poster-text text-center text-danger fw-bold fs-3">{{ movie.title }}</div>
    </div> {% endcomment %}
    <a href="" class="p-0">
      
      <div class="movie-card" class="p-2">
        <img
          src="{{ movie.poster_path }}" 
          :alt="포스터 이미지"
        >
        <div class="inner-content">
          <span class="title text-danger">{{ movie.title }}</span>
          <hr>
          <span class="overview">영화내용...</span>
        </div>
      </div>
    </a>

    <style>
      .movie-card {
        position: relative;
        overflow: hidden;
        background: black;
        width: 100%;
        height: 100%;
      }
      .movie-card img {
        width: 100%;
        height: 100%;
        
        transition: all 0.25s linear;
      }
      .movie-card:hover img {
        opacity: 0.1;
        transform: scale(1.25);
      }
      .movie-card .inner-content {
        width: 80%;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        top: 80%;
        left: 50%;
        transition: all 600ms ease;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .movie-card:hover .inner-content {
        opacity: 1;
        top: 50%;
      }
      .movie-card .inner-content .title {
        font-size: 1.2rem;
        font-weight: 700;
      }
      .movie-card .inner-content .overview {
        font-size: 0.9rem;
        font-weight: 300;
      }
      .movie-card .inner-content hr {
        border-top: 1px solid #f1f1f1;
        width: 100%;
      }
    </style>



  {% endfor %}




  </div>
</div>


<style>
  .card {
    position: relative;
    background: linear-gradient(180deg, #441DB2 0%, #0d0425 100%);
    width: 13rem;
    overflow: hidden;
    box-shadow: 15px 15px 25px black;
  }
  .card img {
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: all 0.25s linear;
  }
  .card:hover img {
    opacity: 0.2;
    transform: scale(1.25);
  }
  .card .inner-content {
    width: 80%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 80%;
    left: 50%;
    transition: all 600ms ease;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card:hover .inner-content {
    opacity: 1;
    top: 50%;
  }
  .card .inner-content .title {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .card .inner-content .overview {
    font-size: 0.9rem;
    font-weight: 300;
  }
  .card .inner-content hr {
    border-top: 1px solid #f1f1f1;
    width: 100%;
  }




{% comment %} .poster-box {
  position: relative;
  overflow: hidden;
}
.poster-text {
  position: absolute;
  visibility: hidden;
  top: 5%;
  left: 0;
  width: 100%;
}
.poster-img:hover {
  transform: scale(1.2);
  filter: brightness(10%);
  transition: .5s;
}
.poster-box:hover .poster-text {
  visibility: visible;
} {% endcomment %}
</style>
{% endblock %}








  <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
    <iframe  frameborder="0" height="100%" width="100%"
    src="https://www.youtube.com/embed/NjkgG-0DwlE?mute=1&loop=1&autoplay=1&rel=0&controls=0&showinfo=0" 
    allowfullscreen>
    </iframe>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    {% for movie in movies %}
      <div class="col">
        <div class="card">
          <img src="{{ movie.poster_path }}" alt="poster">
            <div class="descriptions">
              <h4 style="color : red;">
                {{ movie.title }}
                <button>
                  <a href="{% url 'movies:movie_detail' movie.pk %}">
                    More
                  </a>
                </button>
              </h4>
              <hr>
              {{ movie.overview }}
              <hr>
              
            </div>
        </div>
      </div>
    {% endfor %}
  </div>




<style>
  #hello {
    z-index: -1;
  }

  .text {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
  }

  body{
    padding: 0px;
    margin: 20px;
  }

  .card{
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    height: 440px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
    cursor: pointer;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
    margin:10px;
  }
  .card img{
    width: 100%;
    height:100%;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  }
  .descriptions{
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(255,255,255,.7);
    width:100%;
    height:100%;
    transition: all .7s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
  }
  .card:hover .descriptions{
    left:0px;
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
  }
  .card:hover{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
    transform: scale(.97);
  }
  .card:hover img{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
  }
  .card h3{
    letter-spacing: 1px;
    margin: 0px;
  }
  .card p{
    line-height: 24px;
    height: 70%;

  }
  .card button{
    width: fit-content;
    height: 40px;
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color:#fff;
    font-size: 15px;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.4);
    transition: all .5s ease-in-out;
  }
  .card button:hover{
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
  }

  .card button a {
    text-decoration: none;
    color:white;
  }

</style>
