{% extends 'base.html' %}

{% block content %}

    <h1>FOR YOU</h1>
    <br>
    <hr>
    <br>
    <h3>배우 기반 (같은 배우 출연)</h3>
    {% for movie in recommend_movies_by_actors %}
        {{ movie.title }} | {{ movie.actors }}
        <hr>
    {% endfor %}
    <hr>
    <h3>장르 기반 (2개 이상 동일)</h3>
    {% for movie in recommend_movies_by_genres %}
        {{ movie.title }} | {{ movie.genres }}
        <hr>
    {% endfor %}
    <hr>
    <h3>줄거리 기반</h3>
    {% for movie in recommend_movie_by_overview_keywords %}
    {{ movie }}<br>
    {% endfor %}

{% endblock content %}