{% extends 'base.html' %}

{% block content %}

{% include '_linkbar.html' %}

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">번호</th>
        <th scope="col">좋아요</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <td>
          {{ article.pk }}
        </td>
        <td>
          <span class="badge text-bg-danger">
            {{ article.like_count }}
          </span>
        </td>
        <td>
          <a href="{% url 'articles:article_detail' article.pk %}" class="text-decoration-none">
            {{ article.title }}
            <span class="badge text-bg-info">
            </span>
          </a>
        </td>
        <td>

        </td>
        <td>
          {{ article.created_at }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'articles:article_create' %}" class="btn btn-primary">Create</a>
</div>
{% endblock %}

