{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
  <!-- 게시글 제목 -->
  <h2 class="border-bottom py-2">{{ article.title }}</h2>
  <!-- 게시글 -->
  <div class="row my-3">
    <div class="col-1">
      <div class="bg-light text-center p-3 border fw-bolder mb-1"></div>
      <div class="d-grid gap-1">
        <a href="" class="recommend btn btn-sm btn-secondary">추천</a>
      </div>
    </div>
    <div>
      <div class="card">
        <div class="card-body">
          <div class="card-text mb-2">{{ article.content|linebreaks }}</div>
          <div class="d-flex justify-content-end">
            <!-- 수정일 -->
            {% if article.updated_at %}
            <div class="badge bg-light p-2 text-start mx-3 text-dark">
              <div class="mb-2">수정일</div>
              <div>{{ article.updated_at|date:'y-m-d H:i' }}</div>
            </div>
            {% endif %}
            <!-- 작성자, 작성일 -->
            <div class="badge bg-light text-dark p-2 text-start">
              <div class="mb-2">{{ article.user.username }}</div>
              <div>{{ article.created_at|date:'y-m-d H:i' }}</div>
            </div>
          </div>
          <!-- 수정, 삭제 버튼 -->
          {% if request.user == article.user %}
          <div class="my-3">
            <a href="{% url 'articles:article_update' article.pk %}" class="btn btn-sm btn-outline-info">
              Update
            </a>
            {% comment %}<a href="{% url 'articles:article_delete' article.pk %}" class="delete btn btn-sm btn-outline-danger">
              Delete
            </a>{% endcomment %}
            <form action="{% url 'articles:article_delete' article.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
          {% endif %}
        </div>
        <!-- 목록으로 -->
        <a href="{% url 'articles:articles' %}" class="btn btn-sm btn-outline-secondary">Back</a>
      </div>
    </div>
  </div>
  <!-- 댓글 개수 -->
  <h6 class="border-bottom my-3 py-2">{{ article.comment_set.all.count }}개의 댓글이 있습니다.</h6>
  <div class="card">
    <div class="card-body">
      <!-- 댓글 목록 -->
      {% if article.comment_set.count > 0 %}
        <div class="container">
          {% for comment in article.comment_set.all %}
            <div class="comment py-2">
              <div class="small text-muted">
                {{ comment.user }} {{ comment.created_at|date:'y-m-d H:i' }}
                {% if request.user == comment.user %}
                  {% comment %}<a href="{% url 'articles:comment_delete' article.pk comment.pk %}" class="small delete text-decoration-none">
                    Delete
                  </a>{% endcomment %}
                  <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="text-danger">Delete</button>
                  </form>
                {% endif %}
              </div>
              <span style="white-space: pre-line;">{{ comment.content|linebreaksbr }}</span>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <!-- 댓글 작성 -->
      <div class="container my-3">
        <form action="{% url 'articles:comment_create' article.pk %}" method="post" class="post-form my-3">
          {% csrf_token %}
          <textarea name="content" id="content" cols="5" rows="3" class="form-control my-3" {% if not request.user.is_authenticated %}disabled{% endif %}>{{ comment_form.content.value|default_if_none:'' }}</textarea>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
