{% extends 'base.html' %}

{% block content %}
<div class="container my-5 bg-dark-secondary">
  <!-- 제목, 작성일 row -->
  <div class="row border-bottom p-3">
    <!-- 제목 col -->
    <div class="col">
      <h2 class="text-light mb-0">
        {{ article.title }}
      </h2>
    </div>
    <!-- 작성일 col -->
    <div class="col d-flex justify-content-end align-items-center">
      <span class="text-secondary ms-auto">
        {{ article.created_at|date:'y-m-d H:i' }}
      </span>
    </div>
  </div>
  <!-- 작성자, 수정일 -->
  <div class="row px-3 py-2">
    <!-- 작성자 col -->
    <div class="col">
      <span class="text-secondary">
        {{ article.user.username }}
      </span>
    </div>
    <!-- 수정일 col -->
    <div class="col d-flex justify-content-end align-items-center">
      {% if article.updated_at %}
      <span class="text-secondary ms-auto">
        {{ article.updated_at|date:'y-m-d H:i' }}
      </span>
      {% endif %}
    </div>
  </div>
  <!-- 게시글 row -->
  <div class="row my-3">
    <div class="card bg-dark-secondary" style="border: none;">
      <!-- 내용 -->
      <div class="card-body bg-dark">
        <div class="card-text mb-2 text-light">
          {{ article.content|linebreaks }}
        </div>
      </div>
      <div class="container d-flex justify-content-between align-items-center px-0">
        <!-- 수정, 삭제 버튼 -->
        {% if request.user == article.user %}
        <div class="d-flex justify-content-start my-3">
          <div class="me-2">
            <a href="{% url 'articles:article_update' article.pk %}" class="btn btn-secondary text-light p-2 fw-bold">
              Update
            </a>
          </div>
          <form action="{% url 'articles:article_delete' article.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary p-2 fw-bold">Delete</button>
          </form>
        </div>
        {% endif %}
        <!-- 목록으로 -->
        <div>
          <a href="{% url 'articles:articles' %}" class="btn btn-sm btn-secondary p-2 px-3 fw-bold">Back</a>
        </div>
      </div>
    </div>
  </div>


  <!-- 댓글 개수 -->
  <div class="d-flex border-bottom my-2">
    {% if request.user.is_authenticated %}
    <form class="like-form p-0" data-article-id="{{ article.pk }}">
      {% csrf_token %}
      {% if user in article.like_users.all %}
      <button id="like-{{ article.pk }}" class="btn btn-link text-danger text-decoration-none fs-4">♥</button>
      {% else %}
      <button id="like-{{ article.pk }}" class="btn btn-link text-secondary text-decoration-none fs-4">♡</button>
      {% endif %}
    </form>
    {% endif %}
    <div class="d-flex align-items-center justify-content-center p-0 m-0 me-3">
      <span class="text-secondary">
        좋아요
      </span>
      <span id="like-count-{{ article.pk }}" class="ms-2 text-secondary fw-bold">
        {{ article.like_users.all|length }}
      </span>
    </div>
    <div class="d-flex align-items-center justify-content-center p-0 m-0">
      <span class="text-secondary">
        댓글
      </span>
      <span class="ms-2 text-secondary fw-bold">
        {{ article.comment_set.all.count }}
      </span>
    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <!-- 댓글 목록 -->
      {% if article.comment_set.count > 0 %}
        <div class="container">
          {% for comment in article.comment_set.all %}
            <div class="comment py-2">
              <div class="small text-muted">
                {{ comment.user }} {{ comment.created_at|date:'y-m-d H:i' }}
                {% if request.user == comment.user %}
                  {% comment %} <form action="{% url 'articles:comment_update' article.pk comment.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="text-info">Update</button>
                  </form> {% endcomment %}
                  <form action="#" method="">
                    {% csrf_token %}
                    <button type="submit" class="text-info">Update</button>
                  </form>
                  <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="text-danger">Delete</button>
                  </form>
                {% endif %}
              </div>
              <span style="white-space: pre-line;">{{ comment.content|linebreaksbr }}</span>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <!-- 댓글 작성 -->
      <div class="container my-3">
        <form action="{% url 'articles:comment_create' article.pk %}" method="post" class="post-form my-3">
          {% csrf_token %}
          <textarea name="content" id="content" cols="5" rows="3" class="form-control my-3" {% if not request.user.is_authenticated %}disabled{% endif %}>{{ comment_form.content.value|default_if_none:'' }}</textarea>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  const likeForm = document.querySelector('.like-form');
  likeForm.addEventListener('submit', event => {
    event.preventDefault();
    const articleId = event.target.dataset.articleId;
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    axios({
      url: `/articles/${articleId}/like/`,
      method: 'post',
      headers: { 'X-CSRFToken': csrftoken },
    })
      .then(res => {
        const likeCount = res.data.like_count;
        const liked = res.data.liked;
        const $likeButton = document.querySelector(`#like-${articleId}`);
        const $likeCount = document.querySelector(`#like-count-${articleId}`);
        if (liked) {
          $likeButton.classList.add('text-danger');
          $likeButton.innerText ='♥';
        } else {
          $likeButton.classList.remove('text-danger');
          $likeButton.innerText = '♡';
        }
        $likeCount.innerText = likeCount;
      })
      .catch(err => console.error(err.response));
  });

  
</script>
{% endblock %}
