<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    {% comment %} <router-link :to="{ name: 'home' }" class="nav-link text-light fw-bold fs-4">Home</router-link> {% endcomment %}
    <a href="{% url 'home:home' %}" class="navbar-brand text-light fw-bold fs-4">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% comment %} <li v-if="!isLoggedIn" class="nav-item">
          <router-link :to="{ name: 'login' }" class="nav-link">Login</router-link>
        </li>
        <li v-if="!isLoggedIn" class="nav-item">
          <router-link :to="{ name: 'signup' }" class="nav-link">Signup</router-link>
        </li>
        <li v-if="isLoggedIn" class="nav-item">
          <router-link :to="{ name: 'profile', params: { username } }" class="nav-link">
            {{ currentUser.username }}'s page
          </router-link>
        </li>
        <li v-if="isLoggedIn" class="nav-item">
          <router-link :to="{ name: 'logout' }" class="nav-link">Logout</router-link>
        </li> {% endcomment %}


        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'accounts:profile' user.username %}" class="nav-link">{{ user.username }}'s Profile</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'accounts:logout' %}" class="nav-link">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'accounts:login' %}" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'accounts:signup' %}" class="nav-link">Signup</a>
        </li>
        {% endif %}


        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
